body{
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
.layout{
    margin: 50px;
    text-align: center;
}
.link{
    text-decoration: none;
    background-color: rgb(28,114,163);
    color: white;
    min-width: 200px;
    padding: 10px 30px;
    border-radius: 10px;
}
.link:hover{
    background-color: blue;
    color: red;
}